.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

th {
background-color: #4e5666;
color: azure;
}

table, td { 
  border: solid 1px #4e5666;  
  border-collapse: collapse;
  padding: 2px 2px
}

.rounded-right-border {   
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rounded-left-border {   
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.content {
  position: relative;  
  background-image: url('./images/intl.jpg');  
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  padding-top: 12rem;
  padding-bottom: 12rem;    
}

.content div {      
  text-align: center;
}

.foo {
  max-width: 40rem;
  margin:auto;
  background-color:rgba(137, 197, 199,0.5);  
  padding : 1rem 1rem;
  color: lightyellow;
  border-radius: 12px;
  padding-bottom: 2rem;
  
}

.search-form input { 
    min-width: 85%;
}

.search-form button {   
  min-width: 15%;
}
